@model string
@{
  Layout="_Layout";
  //this.Model;
}
<div class="card bg-danger text-white">
    <h1 class="card-header bg-primary"> Xin chào 3 @Model</h1>
    <div class="card-body">
        <p class="card-text"> Bạn đang tìm hiểu View (.cshtml)</p>
    </div>
</div>
<hr>
@this.Path