@model App.Models.Blog.Category
@using App.Menu
@inject AdminSideBarService _AdminSidebarService
@{
    ViewData["Title"] = "Sửa đổi chuyên mục";
    Layout="_LayoutAdmin";
}

<h1>@ViewData["Title"] </h1>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ParentCategoryId" class="control-label"></label>
                <select asp-for="ParentCategoryId" class="form-control" asp-items="ViewBag.ParentCategoryId"></select>
                <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" id="summernote"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@{
    App.Models.Summernote summernote= new App.Models.Summernote("#summernote"){
        height=150
    };
   
}

<partial name ="_Summernote" model ="summernote"></partial>
@{
    _AdminSidebarService.SetActive("Category","Index","Blog");
}

@section SideBar
{
  @Html.Raw(_AdminSidebarService.renderHtml())
}