@model App.Models.Blog.Post

@{
    ViewData["Title"] = "XÓA BÀI VIẾT";
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc chắn muốn xóa bài viết không?</h3>
<div>
     <form asp-action="Delete">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách bài viết Blog</a>
    </form>
</div>
